Repository opentibiabr/otservbr-global, pull requests merged in 2021-12, with the labels that each got.

#328 Fix animation and addHealth
  src/game/game.cpp
Labels: source

#334 [Fix] Item charges from Boss reward.
  data/lib/others/reward_boss_lib.lua
Labels: Priority: Low, data

#338 [Docker Enhancement] Otimize vcpkg clone and disk usage
  docker/server/Dockerfile
Labels: docker

#330 [Fix] first dragon quest treasure chest
  data/scripts/actions/quests/first_dragon/treasure_chest.lua
Labels: data

#327 Fix container reward key
  data/scripts/actions/system/quest_reward_common.lua
Labels: data

#318 Small optimization when casting a healing spell.
  src/creatures/combat/combat.cpp
Labels: source, Stale

#320 Fixes the healing of paralyse condition
  data/scripts/spells/runes/paralyze_rune.lua
  src/creatures/creature.cpp
  src/creatures/players/player.cpp
Labels: data, source, Stale

#337 [Enhancement] ItemAttributes otimization, cherry-pick of saiyansking optimized forgottenserver
  src/items/item.cpp
  src/items/item.h
  src/lua/scripts/luascript.cpp
Labels: source

#339 [Enhancement] Rework of the imbuement system and conversion to c++
  config.lua.dist
  data/XML/imbuements.xml
  data/events/events.xml
  data/events/scripts/player.lua
  data/items/items.xml
  data/lib/core/core.lua
  data/lib/core/imbuements.lua
  data/npc/lib/npcsystem/modules.lua
  data/npc/scripts/rashid.lua
  data/scripts/actions/object/imbuement_shrine.lua
  data/scripts/lib/register_movements.lua
  src/config/configmanager.cpp
  src/config/configmanager.h
  src/creatures/combat/combat.cpp
  src/creatures/combat/combat.h
  src/creatures/players/imbuements/imbuements.cpp
  src/creatures/players/imbuements/imbuements.h
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.cpp
  src/game/game.h
  src/io/iologindata.cpp
  src/items/item.cpp
  src/items/item.h
  src/items/items.cpp
  src/items/items.h
  src/lua/creature/events.cpp
  src/lua/creature/events.h
  src/lua/creature/movement.cpp
  src/lua/scripts/luascript.cpp
  src/lua/scripts/luascript.h
  src/server/network/message/networkmessage.h
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
  src/utils/const.h
  src/utils/enums.h
  src/utils/tools.cpp
  src/utils/tools.h
Labels: data, source

#343 Sync with SaiyansKing decay
  src/items/decay/decay.cpp
  src/items/decay/decay.h
Labels: source

#311 [Protocol] Support to client 12.72.11206
  .gitignore
  config.lua.dist
  data/XML/mounts.xml
  data/XML/outfits.xml
  data/items/items.otb
  data/modules/scripts/gamestore/init.lua
  src/config/configmanager.cpp
  src/server/network/protocol/protocolgame.cpp
  src/utils/const.h
Labels: data, source

#351 [Fix] Issue #287, hirelings sell function don't work
  data/npc/scripts/hireling.lua
Labels: data

#350 [Fix] Issue #332, familiars script does not make sure if the player has a vocation
  data/scripts/creaturescripts/others/familiars.lua
Labels: data

#349 [Fix] Issue #309, wrong toKill value for star 3 on bestiary
  data/monster/aquatics/renegade_quara_mantassin.lua
  data/monster/magicals/silencer.lua
Labels: data

#345 Fixed imbuement system behavior and a crash related to memory reference
  data/items/items.xml
  src/creatures/combat/combat.cpp
  src/creatures/players/imbuements/imbuements.cpp
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.cpp
  src/items/item.cpp
  src/items/item.h
  src/items/items.cpp
  src/items/items.h
  src/server/network/protocol/protocolgame.cpp
  src/utils/const.h
  src/utils/tools.cpp
Labels: data, source
