Repository opentibiabr/otservbr-global, pull requests merged in 2022-06, with the labels that each got.

#619 Rework scripts to works with canary source
  data/scripts/movements/others/trap.lua
  data/scripts/quests/parchment_room/parchment.lua
Labels: Area: Datapack

#624 Fix vocation stats for energy ring
  data/scripts/movements/equipment/unscripted_equipments.lua
Labels: Area: Datapack

#625 Fix missing monsters loot, skinning corpses and npcs keywords
  data/items/items.xml
  data/monster/dragons/dragon.lua
  data/monster/fey/boogy.lua
  data/monster/fey/nymph.lua
  data/monster/fey/pixie.lua
  data/monster/fey/twisted_pooka.lua
  data/monster/mammals/ghost_wolf.lua
  data/monster/mammals/gloom_wolf.lua
  data/monster/mammals/squirrel.lua
  data/monster/reptiles/tortoise.lua
  data/npc/iyad.lua
  data/npc/melian.lua
  data/npc/pino.lua
  data/npc/tanyt.lua
  data/npc/uzon.lua
  data/npc/zethra.lua
  data/scripts/actions/tools/skinning.lua
  data/scripts/movements/quests/killing_in_the_name_of/boss.lua
Labels: Area: Datapack

#631 Fix chest not movable in Kazordoon
  data/startup/tables/chest.lua
Labels: Area: Datapack

#636 Added webhook to player_death events
  data/scripts/creaturescripts/others/player_death.lua
Labels: Area: Datapack

#637 Update archery rook name
  data/npc/archery_rook.lua
Labels: Area: Datapack

#632 Fix teleport to exit of Cults of Tibia in Carlin
  data/scripts/movements/quests/cults_of_tibia/movement-cults-of-carlin-teleport.lua
Labels: Area: Datapack

#642 Fix issues related to some NPCs not responding to keywords
  data/npc/ariella.lua
  data/npc/chondur.lua
  data/npc/sandra.lua
  data/npc/spectulus.lua
  data/npc/tereban_functions.lua
Labels: Area: Datapack

#648 Fix chest items with charges
  data/scripts/actions/system/quest_reward_common.lua
Labels: Area: Datapack

#355 [Feature/Enhancement] - New objects; Lever, Spawn and Spectators to assistant with boss/quest scripts and others
  data/lib/core/core.lua
  data/lib/core/lever.lua
  data/lib/core/spawn.lua
  data/lib/core/spectators.lua
  data/scripts/actions/quests/threatened_dreams/lever.lua
  data/scripts/creaturescripts/monster/spawn_system.lua
  data/scripts/talkactions/god/create_spawn.lua
Labels: Area: Datapack, Stale

#643 Fix wrath of emperor quest storages on freequests
  data/scripts/creaturescripts/customs/freequests.lua
Labels: Area: Datapack

#645 Fix banshee quest and wand of darkness attributes
  data/items/items.xml
  data/lib/quests/the_queen_of_the_banshees.lua
  data/scripts/quests/the_queen_of_the_banshees/action-1-first_seal_lever.lua
Labels: Area: Datapack

#641 Restructuring of the quest storages
  data/lib/core/game.lua
  data/lib/core/quests.lua
  data/lib/core/storages.lua
  data/npc/a_prisoner.lua
  data/npc/andrew_lyze.lua
  data/npc/avar_tar.lua
  data/npc/costello.lua
  data/npc/lubo.lua
  data/npc/mr_morris.lua
  data/npc/oldrak.lua
  data/npc/padreia.lua
  data/npc/riddler.lua
  data/npc/the_queen_of_the_banshees.lua
  data/npc/woblin.lua
  data/npc/zoltan.lua
  data/scripts/actions/other/fishing.lua
  data/scripts/actions/quests/dawnport/legion_helmet.lua
  data/scripts/actions/quests/dawnport/the_rare_herb.lua
  data/scripts/actions/quests/dawnport/vocation_reward.lua
  data/scripts/creaturescripts/customs/freequests.lua
  data/scripts/creaturescripts/quests/dawnport/goblin_kill.lua
  data/scripts/creaturescripts/quests/dawnport/minotaur_kill.lua
  data/scripts/creaturescripts/quests/dawnport/troll_kill.lua
  data/scripts/globalevents/others/startup.lua
  data/scripts/lib/register_actions.lua
  data/scripts/movements/others/dawnport_tiles.lua
  data/scripts/movements/quests/dawnport/legion_helmet.lua
  data/scripts/quests/the_annihilator/door.lua
  data/scripts/quests/the_paradox_tower/movement-last_floor_reward.lua
  data/scripts/quests/the_queen_of_the_banshees/action-3-third_seal_lever.lua
  data/scripts/quests/the_queen_of_the_banshees/movement-1-first_seal_flame.lua
  data/scripts/quests/the_queen_of_the_banshees/movement-2-second_seal_flame.lua
  data/scripts/quests/the_queen_of_the_banshees/movement-2-second_seal_pearl.lua
  data/scripts/quests/the_queen_of_the_banshees/movement-3-third_seal_flame.lua
  data/scripts/quests/the_queen_of_the_banshees/movement-3-third_seal_warlock_tile.lua
  data/scripts/quests/the_queen_of_the_banshees/movement-4-fourth_seal_flame.lua
  data/scripts/quests/the_queen_of_the_banshees/movement-5-fifth_seal_flame.lua
  data/scripts/quests/the_queen_of_the_banshees/movement-5-fifth_seal_path.lua
  data/scripts/quests/the_queen_of_the_banshees/movement-6-sixth_seal_flame.lua
  data/scripts/quests/the_queen_of_the_banshees/movement-7-last_seal_flame.lua
  data/startup/others/functions.lua
  data/startup/tables/chest.lua
  data/startup/tables/door_quest.lua
  data/startup/tables/load.lua
  data/startup/tables/storage_keys_update.lua
Labels: Area: Datapack

#594 Rework & fixes for the new frontier quest
  data/items/items.xml
  data/lib/core/quests.lua
  data/lib/core/storages.lua
  data/npc/angus.lua
  data/npc/brodrosch.lua
  data/npc/cael.lua
  data/npc/chemar.lua
  data/npc/chrak.lua
  data/npc/curos.lua
  data/npc/gewen.lua
  data/npc/gurbasch.lua
  data/npc/humgolf.lua
  data/npc/iyad.lua
  data/npc/king_tibianus.lua
  data/npc/lazaran.lua
  data/npc/leeland.lua
  data/npc/melfar.lua
  data/npc/mortimer.lua
  data/npc/ongulf.lua
  data/npc/pino.lua
  data/npc/tanyt.lua
  data/npc/telas.lua
  data/npc/uzon.lua
  data/npc/wyrdin.lua
  data/npc/ztiss.lua
  data/npc/zurak.lua
  data/npc/zurak_arena.lua
  data/scripts/actions/farmine/elevator_lever.lua
  data/scripts/actions/quests/children_of_the_revolution/zalamon_door.lua
  data/scripts/actions/quests/the_new_frontier/beaver.lua
  data/scripts/actions/quests/the_new_frontier/lever.lua
  data/scripts/actions/quests/the_new_frontier/retreat.lua
  data/scripts/creaturescripts/customs/freequests.lua
  data/scripts/movements/quests/the_new_frontier/minotaur_boss.lua
  data/scripts/movements/quests/the_new_frontier/trap.lua
  data/scripts/movements/quests/the_new_frontier/wayout.lua
  data/scripts/quests/the_new_frontier/action-arena.lua
  data/scripts/quests/the_new_frontier/action-beaver.lua
  data/scripts/quests/the_new_frontier/action-elevator.lua
  data/scripts/quests/the_new_frontier/action-hidden_note.lua
  data/scripts/quests/the_new_frontier/action-outfit.lua
  data/scripts/quests/the_new_frontier/action-prision_secret_door.lua
  data/scripts/quests/the_new_frontier/action-vine.lua
  data/scripts/quests/the_new_frontier/creaturescripts-shard_of_corruption_kill.lua
  data/scripts/quests/the_new_frontier/creaturescripts-tirecz_kill.lua
  data/scripts/quests/the_new_frontier/movement-jail_exit.lua
  data/scripts/quests/the_new_frontier/movement-minotaur_boss.lua
  data/scripts/quests/the_new_frontier/movement-prision_trap.lua
  data/scripts/quests/the_new_frontier/movement-wayout.lua
  data/startup/tables/chest.lua
  data/startup/tables/door_quest.lua
  data/startup/tables/item.lua
  data/startup/tables/lever.lua
  data/startup/tables/storage_keys_update.lua
  data/startup/tables/tile.lua
Labels: Area: Datapack

#633 Reworked and added threatened dreams quest
  data/lib/core/quests.lua
  data/lib/core/storages.lua
  data/npc/a_swan.lua
  data/npc/ahmet.lua
  data/npc/alkestios.lua
  data/npc/aurita.lua
  data/npc/chief_grarkharok.lua
  data/npc/dancing_fairy.lua
  data/npc/ghostly_wolf.lua
  data/npc/ikassis.lua
  data/npc/irmana.lua
  data/npc/maelyrra.lua
  data/npc/taegen.lua
  data/npc/tereban_functions.lua
  data/scripts/actions/other/gems.lua
  data/scripts/actions/other/music.lua
  data/scripts/actions/quests/the_dreams_courts/lever.lua
  data/scripts/actions/quests/threatened_dreams/fur_of_a_wolf_whelp.lua
  data/scripts/actions/quests/threatened_dreams/lever.lua
  data/scripts/actions/quests/threatened_dreams/notes_of_a_poacher.lua
  data/scripts/actions/quests/threatened_dreams/poacher_chest.lua
  data/scripts/actions/quests/threatened_dreams/poacher_use.lua
  data/scripts/creaturescripts/customs/freequests.lua
  data/scripts/creaturescripts/others/login_events.lua
  data/scripts/movements/quests/feyrist/kroazur_entrance.lua
  data/scripts/movements/quests/feyrist/kroazur_exit.lua
  data/scripts/movements/quests/threatened_dreams/swan_feathers.lua
  data/scripts/quests/threatened_dreams/action-fairies_release.lua
  data/scripts/quests/threatened_dreams/action-moon_mirror.lua
  data/scripts/quests/threatened_dreams/action-poacher_book.lua
  data/scripts/quests/threatened_dreams/action-poacher_notes.lua
  data/scripts/quests/threatened_dreams/action-starlight_vial.lua
  data/scripts/quests/threatened_dreams/action-sun_catcher.lua
  data/scripts/quests/threatened_dreams/action-whelp_fur.lua
  data/scripts/quests/threatened_dreams/creaturescript-nightmare_monsters_kills.lua
  data/scripts/quests/threatened_dreams/event-raven_herb_bush.lua
  data/scripts/quests/threatened_dreams/movement-kroazur_room.lua
  data/scripts/quests/threatened_dreams/movement-poacher_notes.lua
  data/scripts/quests/threatened_dreams/movement-swan_feathers.lua
  data/startup/tables/chest.lua
  data/startup/tables/corpse.lua
  data/startup/tables/item.lua
  data/startup/tables/storage_keys_update.lua
  data/startup/tables/tile.lua
  data/world/canary-npc.xml
Labels: Area: Datapack, Area: Map

#655 Fix fluids ids from NPCs
  data/npc/armenius.lua
  data/npc/dankwart.lua
  data/npc/lyonel.lua
  data/npc/miraia.lua
  data/npc/ramina.lua
  data/npc/snake_eye.lua
  data/npc/tanaro.lua
Labels: Area: Datapack

#658 Fix blister ring, sleep shawl, pendulet, ring of souls time counter, monsters loot, items attributes, NPC Cledwyn ids and some ramps attributes
  data/items/items.xml
  data/monster/quests/the_dream_courts/bosses/faceless_bane.lua
  data/monster/quests/the_dream_courts/bosses/the_nightmare_beast.lua
  data/npc/cledwyn.lua
  data/scripts/movements/equipment/unscripted_equipments.lua
Labels: Area: Datapack

#613 Fix some npcs bugs and change behaviour
  data/npc/yana.lua
  data/npclib/npc.lua
  data/npclib/npc_system/bank_system.lua
  data/npclib/npc_system/npc_handler.lua
Labels: Area: Datapack
