Repository opentibiabr/otservbr-global, pull requests merged in 2022-04, with the labels that each got.

#525 Fix black knight quest door (not registered key 2969) and thieves guild quest
  data/items/items.xml
  data/lib/tables/door.lua
  data/scripts/actions/quests/the_thieves_guild/fish_napping_key.lua
Labels: data

#514 Fix amulets and cobra crossbow attributes
  data/items/items.xml
Labels: data, Test: Needed

#524 Fix message type of locked door
  data/scripts/actions/door/key_door.lua
Labels: data

#477 Remove unsafe use of AddEvent in Oberon
  data/scripts/actions/farmine/oberon_lever.lua
Labels: Type: Bug, Priority: Critical, Area: Datapack, Status: Pending Review, Status: Pending Test

#498 Fix somes corpses for quicklooting
  data/items/items.xml
  data/monster/quests/grave_danger/bosses/king_zelos.lua
Labels: Type: Bug, Priority: Medium, Area: Datapack, data

#518 [Fix] Add healing source on 'mass healing' and potions
  data/scripts/actions/other/potions.lua
  data/scripts/spells/healing/mass_healing.lua
Labels: Type: Bug, Priority: Low, Area: Datapack, Area: Source, Status: Pending Test

#521 Fix Client IDs on NPCs and quest_system2
  data/npc/a_prisoner.lua
  data/npc/dermot.lua
  data/npc/elathriel.lua
  data/npc/gnomus.lua
  data/npc/klom_stonecutter.lua
  data/npc/lardoc_bashsmite.lua
  data/npc/shirith.lua
  data/npc/simon_the_beggar.lua
  data/npc/skjaar.lua
  data/scripts/actions/other/others/quest_system2.lua
Labels: Type: Bug, Priority: Medium, Area: Datapack, Status: Pending Test, data

#517 Convert ids to client id, storages fixes and quests fixes
  data/lib/core/quests.lua
  data/lib/core/storages.lua
  data/npc/angus.lua
  data/npc/bertram.lua
  data/npc/brengus.lua
  data/npc/chantalle.lua
  data/npc/grizzly_adams.lua
  data/npc/mortimer.lua
  data/npc/muhad.lua
  data/npc/rashid.lua
  data/npc/uzgod.lua
  data/scripts/actions/other/destroy.lua
  data/scripts/actions/other/fishing.lua
  data/scripts/actions/other/others/quest_system2.lua
  data/scripts/actions/quests/explorer_society/botanist.lua
  data/scripts/actions/quests/explorer_society/butterfly.lua
  data/scripts/actions/quests/explorer_society/findings.lua
  data/scripts/actions/quests/explorer_society/icicle.lua
  data/scripts/globalevents/worldchanges/yasir.lua
  data/scripts/movements/teleport/tomb_coal_basin.lua
  data/scripts/spells/attack/ignite.lua
  data/startup/tables/door_key.lua
  data/startup/tables/door_quest.lua
Labels: Type: Bug, Priority: Medium, Area: Datapack, Status: Pending Test, data

#532 Fixing wrong aid and uid conversions
  data/scripts/actions/other/dryad_garden.lua
  data/scripts/actions/other/gems.lua
  data/scripts/actions/other/ore_wagon.lua
  data/scripts/actions/quests/bigfoot_burden/rewards.lua
  data/scripts/actions/quests/children_of_the_revolution/mission3_poison_water.lua
  data/scripts/actions/quests/children_of_the_revolution/mission4_grease_oil.lua
  data/scripts/actions/quests/dreamer_challenge/lever_brotherhood.lua
  data/scripts/actions/quests/dreamer_challenge/lever_nightmare.lua
  data/scripts/actions/quests/dreamer_challenge/walls.lua
  data/scripts/actions/quests/explorer_society/botanist.lua
  data/scripts/actions/quests/explorer_society/stone.lua
  data/scripts/actions/quests/explorer_society/tracing_paper.lua
  data/scripts/actions/quests/ferumbras_ascendant/flower_puzzle_lever.lua
  data/scripts/actions/quests/others/fire_bug.lua
  data/scripts/actions/quests/others/steal_from_thieves.lua
  data/scripts/actions/quests/wrath_of_the_emperor/mission01_lights.lua
  data/scripts/actions/tools/lock_pick.lua
  data/scripts/quests/the_queen_of_the_banshees/movement-1-first_seal_teleport_back.lua
Labels: Area: Datapack, data

#536 Remove unsafe addEvent
  data/modules/scripts/gamestore/init.lua
  data/scripts/actions/quests/cults_of_tibia/torch.lua
Labels: Type: Bug, Priority: Critical, Area: Datapack, data

#535 Fix Destroy Rune field list
  data/scripts/lib/register_spells.lua
  data/scripts/spells/runes/destroy_field_rune.lua
Labels: Type: Bug, Priority: Medium, Area: Datapack, Status: Pending Test, data

#537 Fix NPCs not working due to wrong parameters
  data/npc/cledwyn.lua
  data/npc/grizzly_adams.lua
  data/npc/oldrak.lua
  data/npc/sinclair.lua
  data/npc/yana.lua
Labels: Type: Bug, Priority: Medium, Area: Datapack, data

#531 Fix nil storages
  data/scripts/actions/quests/ferumbras_ascendant/mazoran_lever.lua
  data/scripts/creaturescripts/quests/ferumbras_ascendant/the_shatterer_kill.lua
Labels: Priority: Low, Area: Datapack

#538 fix: fixes #528, keys would be given without proper key actions
  data/startup/tables/chest.lua
Labels: Type: Bug, Priority: Low, Area: Datapack, Status: Pending Review, Status: Pending Test

#540 Fix weapons shoot effects and eldritch wands/rods not attacking
  data/items/items.xml
  data/scripts/weapons/unscripted_weapons.lua
Labels: Priority: Low, Area: Datapack, Status: Pending Review, data

#541 Add missing outfits and mounts to talkactions
  data/scripts/talkactions/god/alladdons.lua
  data/scripts/talkactions/god/allmounts.lua
Labels: data

#550 [Npc] convert shop from Gnomally to client id
  data/npc/gnomally.lua
Labels: data

#548 [Npc] Update items from Willard shop sell
  data/npc/willard.lua
Labels: data

#549 [Npc] fix Eruaran addons
  data/npc/eruaran.lua
Labels: data

#480 [Feature/Enhancement] - Prey system rework (CPP) + Hunting task system
  config.lua.dist
  data/events/scripts/creature.lua
  data/events/scripts/monster.lua
  data/events/scripts/player.lua
  data/global.lua
  data/lib/core/container.lua
  data/migrations/18.lua
  data/migrations/19.lua
  data/modules/modules.xml
  data/modules/scripts/daily_reward/daily_reward.lua
  data/modules/scripts/gamestore/init.lua
  data/modules/scripts/prey_system/assets.lua
  data/modules/scripts/prey_system/prey.lua
  data/scripts/creaturescripts/others/login.lua
  data/scripts/creaturescripts/others/login_events.lua
  data/scripts/creaturescripts/others/prey_loot.lua
  data/startup/others/functions.lua
  schema.sql
Labels: Type: Bug, Type: Enhancement, Priority: High, Area: Datapack, Status: Pending Review, Status: Pending Test, data

#559 Fix mana potion not healing mana
  data/scripts/actions/other/potions.lua
Labels: data

#560 Changed prices in NPC to avoid illicit enrichment
  data/npc/imbuement_assistant.lua
Labels: data

#551 [Compatiblity] - syncronization with canary after release 1.2
  .github/ISSUE_TEMPLATE/bug.yaml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/i-want-to-help.md
  .github/ISSUE_TEMPLATE/map-issues.md
  .github/ISSUE_TEMPLATE/missing-feature.md
  .github/ISSUE_TEMPLATE/missing-wrong-content.md
  .github/ISSUE_TEMPLATE/request.yaml
  .github/labeler.yml
  .github/workflows/analysis-reviewdog.yml
  .github/workflows/issue.yml
  .github/workflows/tests-lua.yml
  .gitignore
  config.lua.dist
  data/global.lua
  data/lib/compat/compat.lua
  data/lib/core/position.lua
  data/lib/tables/exercise_training.lua
  data/modules/scripts/gamestore/init.lua
  data/monster/humans/carnisylvan_sapling.lua
  data/npclib/npc_system/bank_system.lua
  data/scripts/actions/object/imbuement_shrine.lua
  data/scripts/actions/other/exercise_training.lua
  data/scripts/actions/other/food.lua
  data/scripts/actions/other/offline_training.lua
  data/scripts/custom/discord_specialwebhook.lua
  data/scripts/custom/monster_training_machine.lua
  data/scripts/globalevents/customs/save_interval.lua
  data/scripts/globalevents/others/global_server_save.lua
  data/scripts/lib/register_spells.lua
  data/scripts/movements/others/closing_door.lua
  data/scripts/movements/others/drowning.lua
  data/scripts/spells/healing/mass_healing.lua
Labels: data

#558 [Fix] Offline training in bed
  data/items/items.xml
Labels: Area: Datapack, data

#562 Fix rune incrementing item id in the items.xml
  data/scripts/spells/runes/animate_dead_rune.lua
  data/scripts/spells/runes/antidote_rune.lua
  data/scripts/spells/runes/avalanche.lua
  data/scripts/spells/runes/chameleon.lua
  data/scripts/spells/runes/convince_creature.lua
  data/scripts/spells/runes/desintegrate_rune.lua
  data/scripts/spells/runes/destroy_field_rune.lua
  data/scripts/spells/runes/energy_bomb.lua
  data/scripts/spells/runes/energy_field.lua
  data/scripts/spells/runes/energy_wall.lua
  data/scripts/spells/runes/explosion.lua
  data/scripts/spells/runes/fire_bomb.lua
  data/scripts/spells/runes/fire_field.lua
  data/scripts/spells/runes/fire_wall.lua
  data/scripts/spells/runes/fireball.lua
  data/scripts/spells/runes/great_fireball.lua
  data/scripts/spells/runes/heavy_magic_missile.lua
  data/scripts/spells/runes/holy_missile.lua
  data/scripts/spells/runes/icicle.lua
  data/scripts/spells/runes/intense_healing_rune.lua
  data/scripts/spells/runes/light_magic_missile.lua
  data/scripts/spells/runes/light_stone_shower.lua
  data/scripts/spells/runes/lightest_magic_missile.lua
  data/scripts/spells/runes/lightest_missile.lua
  data/scripts/spells/runes/magic_wall.lua
  data/scripts/spells/runes/paralyze_rune.lua
  data/scripts/spells/runes/poison_bomb.lua
  data/scripts/spells/runes/poison_field.lua
  data/scripts/spells/runes/poison_wall.lua
  data/scripts/spells/runes/soul_fire.lua
  data/scripts/spells/runes/stalagmite.lua
  data/scripts/spells/runes/stone_shower.lua
  data/scripts/spells/runes/sudden_death.lua
  data/scripts/spells/runes/thunderstorm.lua
  data/scripts/spells/runes/ultimate_healing_rune.lua
  data/scripts/spells/runes/wild_growth.lua
Labels: Area: Datapack

#554 Fix npcs name on script "npcs by time" and fix on startup spawn npcs by night/day
  data/npc/ghostly_wolf.lua
  data/npc/talila.lua
  data/npc/valindara.lua
  data/scripts/globalevents/others/spawns_npc_by_time.lua
  data/world/otservbr-npc.xml
Labels: Area: Datapack, Area: Map, data

#544 [Compatibility/Enhancement] Rework on fluids colors and new monster race type (INK)
  data/items/items.xml
  data/monster/constructs/biting_book.lua
  data/monster/magicals/animated_feather.lua
  data/monster/magicals/burning_book.lua
  data/monster/magicals/cursed_book.lua
  data/monster/magicals/energetic_book.lua
  data/monster/magicals/flying_book.lua
  data/monster/magicals/guardian_of_tales.lua
  data/monster/magicals/icecold_book.lua
  data/monster/quests/the_secret_library/librarian.lua
  data/monster/slimes/ink_blob.lua
  data/npc/ahmet.lua
  data/npc/arito.lua
  data/npc/bashira.lua
  data/npc/bezil.lua
  data/npc/boozer.lua
  data/npc/brasith.lua
  data/npc/clyde.lua
  data/npc/dane.lua
  data/npc/gree_dee.lua
  data/npc/halif.lua
  data/npc/larek.lua
  data/npc/livielle.lua
  data/npc/maria.lua
  data/npc/mirabell.lua
  data/npc/nezil.lua
  data/npc/norma.lua
  data/npc/pugwah.lua
  data/npc/ramina.lua
  data/npc/red_lilly.lua
  data/npc/sandra.lua
  data/npc/sarina.lua
  data/npc/satsu.lua
  data/npc/shiantis.lua
  data/npc/urkalio.lua
  data/scripts/actions/other/fluids.lua
Labels: Type: Enhancement, Priority: Low, Area: Datapack, Type: Missing Content, data

#543 Additional files to work with new map updates + fix sinister hermit
  data/items/items.xml
  data/lib/core/storages.lua
  data/scripts/actions/quests/cults_of_tibia/bosses_levers.lua
  data/scripts/movements/quests/cults_of_tibia/geyser.lua
Labels: Area: Datapack, data

#565 Fix keg item not being possible to use outside the house
  data/scripts/actions/other/cask_kegs.lua
Labels: Area: Datapack

#566 Fixed for cask to be used in house only
  data/scripts/actions/other/cask_kegs.lua
Labels: Area: Datapack
