Repository opentibiabr/otservbr-global, pull requests merged in 2022-03, with the labels that each got.

#479 [Sync] Fix item tier
  data/scripts/item_classification/item_tiers.lua
Labels: data

#488 [Fix] Convert map 'nightmare island darashia-west' from serverID to clientID.
  data/world/nightmareisle/darashia-west.otbm
Labels: data

#448 Add 12.72 monsters
  .gitignore
  data/items/items.xml
  data/modules/scripts/prey_system/assets.lua
  data/modules/scripts/prey_system/prey.lua
  data/monster/humans/carnisylvan_sapling.lua
  data/monster/humans/dark_carnisylvan.lua
  data/monster/humans/hulking_carnisylvan.lua
  data/monster/humans/poisonous_carnisylvan.lua
  data/monster/magicals/bashmu.lua
  data/monster/magicals/girtablilu_warrior.lua
  data/monster/magicals/juvenile_bashmu.lua
  data/monster/magicals/venerable_girtablilu.lua
  data/monster/vermins/afflicted_strider.lua
  data/monster/vermins/blemished_spawn.lua
  data/monster/vermins/cave_chimera.lua
  data/monster/vermins/eyeless_devourer.lua
  data/monster/vermins/lavafungus.lua
  data/monster/vermins/lavaworm.lua
  data/monster/vermins/streaked_devourer.lua
  data/monster/vermins/tremendous_tyrant.lua
  data/monster/vermins/varnished_diremaw.lua
  data/scripts/spells/monster/devourer_death_wave.lua
  data/scripts/spells/monster/girtablilu_poison_wave.lua
  data/scripts/spells/monster/lavafungus_ring.lua
  data/scripts/spells/monster/lavafungus_x_wave.lua
  data/scripts/spells/monster/sapling_explode.lua
Labels: data

#483 [ItemParse] - Fix life and mana leech amount/chance attribute
  data/items/items.xml
Labels: data

#469 Modifications from Player:onLook, fix quests.lua order, remove duplicate ids and fix suggestions from lua extension
  data/events/scripts/player.lua
  data/lib/core/quests.lua
  data/lib/core/storages.lua
  data/modules/scripts/gamestore/init.lua
  data/npclua/chester_kahs.lua
  data/npclua/jack_fate.lua
  data/npclua/junkar_mines.lua
  data/npclua/junkar_robsons.lua
  data/npclua/junkar_thais.lua
  data/scripts/actions/other/music.lua
  data/scripts/actions/other/transform_to.lua
  data/scripts/creaturescripts/quests/grave_danger/cobra_bastion/scarlett.lua
  data/scripts/lib/register_actions.lua
  data/scripts/spells/support/challenge.lua
Labels: data

#493 Many item.xml fixes + login.lua indentation
  data/items/items.xml
  data/scripts/creaturescripts/others/login.lua
Labels: data

#505 [Fix] Few hireling issues
  data/npclua/hireling.lua
  data/startup/others/hireling_lib.lua
Labels: data, Status: Completed

#404 [Fix] Resolve familiar not entering pz zone and improvement to familiar spells
  data/lib/core/player.lua
  data/lib/tables/familiar.lua
  data/monster/familiars/druid_familiar.lua
  data/monster/familiars/knight_familiar.lua
  data/monster/familiars/paladin_familiar.lua
  data/monster/familiars/sorcerer_familiar.lua
  data/scripts/creaturescripts/familiar/on_login.lua
  data/scripts/creaturescripts/others/familiars.lua
  data/scripts/creaturescripts/quests/heart_of_destruction/rupture_heal.lua
  data/scripts/spells/familiar/druid_familiar.lua
  data/scripts/spells/familiar/knight_familiar.lua
  data/scripts/spells/familiar/paladin_familiar.lua
  data/scripts/spells/familiar/sorcerer_familiar.lua
  data/scripts/spells/summon/druid_familiar.lua
  data/scripts/spells/summon/knight_familiar.lua
  data/scripts/spells/summon/paladin_familiar.lua
  data/scripts/spells/summon/sorcerer_familiar.lua
Labels: data, Review: Needed, Test: Needed

#489 Fix minotaur cult monsters
  data/monster/humanoids/minotaur_cult_follower.lua
  data/monster/humanoids/minotaur_cult_prophet.lua
  data/monster/humanoids/minotaur_cult_zealot.lua
  data/scripts/spells/monster/minotaur_cult_prophet_mass_healing.lua
Labels: data, Review: Needed, Test: Needed

#501 [Fix] Fix 'wound' bestiary charm register
  data/scripts/bestiary/charms.lua
Labels: data

#491 [Fix] talkDelay from npcs
  data/npclib/npc_system/npc_handler.lua
  data/npclua/a_dragon_mother.lua
  data/npclua/klom_stonecutter.lua
Labels: data, Review: Needed, Test: Needed

#492 Fix nil errors on somes scripts
  data/scripts/globalevents/quests/secret_library_grand_canon_dominus.lua
  data/scripts/globalevents/quests/secret_library_grand_chaplain_gaunder.lua
  data/scripts/globalevents/quests/secret_library_grand_commander_soeren.lua
  data/scripts/globalevents/quests/secret_library_preceptor_lazare.lua
  data/scripts/globalevents/spawn/gray_island_bosses.lua
  data/scripts/globalevents/spawn/mawhawk.lua
  data/scripts/globalevents/spawn/thawing_dragon_lord.lua
Labels: data

#496 Register missing enchanted werewolf amulet
  data/scripts/movements/equipment/unscripted_equipments.lua
Labels: data

#503 Somes npcs fixes (wrong functions and missing variables)
  data/lib/core/functions.lua
  data/npclib/npc.lua
  data/npclib/npc_system/modules.lua
  data/npclib/npc_system/npc_handler.lua
  data/npclua/broken_servant_sentry.lua
  data/npclua/emperor_kruzak.lua
  data/npclua/eruaran.lua
  data/npclua/hireling.lua
  data/npclua/irmana.lua
  data/npclua/king_tibianus.lua
  data/npclua/lynda.lua
  data/npclua/marvin.lua
  data/npclua/navigator.lua
  data/npclua/queen_eloise.lua
  data/npclua/rock_steady.lua
  data/npclua/rottin_wood.lua
  data/npclua/the_beggar_king.lua
Labels: data

#513 [Fix]: allowMovement storage typo
  data/lib/core/player.lua
Labels: data

#511 chore: reuse const
  data/scripts/actions/other/hirelinglamp.lua
Labels: data

#490 Sync with Canary pull requests
  config.lua.dist
  data/scripts/actions/other/offline_training.lua
  data/scripts/creaturescripts/others/player_death.lua
Labels: data, Review: Needed, Test: Needed

#508 Fix party skills
  data/scripts/spells/party/heal_party.lua
  data/scripts/spells/party/protect_party.lua
  data/scripts/spells/party/train_party.lua
Labels: data
