Repository opentibiabr/otservbr-global, pull requests merged in 2022-01, with the labels that each got.

#365 Fix double remove money on create market offer
  src/game/game.cpp
Labels: source

#373 Fix remove item from stash on apply imbuement
  src/creatures/players/player.cpp
Labels: source

#375 Fixed crash after conjure item with duration
  data/scripts/lib/register_spells.lua
  src/game/game.cpp
  src/io/iologindata.cpp
Labels: data, source

#341 Removed duplication in events and rearranged the xml order
  data/events/events.xml
  data/events/scripts/creature.lua
Labels: data

#390 Amulet bug fix in werewolf amulet time
  data/items/items.xml
  data/scripts/movements/equipment/unscripted_equipments.lua
Labels: data

#387 Fix wrong increment equipment skills in "onEquip/deEquip"
  src/game/game.cpp
Labels: source

#379 Fix freezing freequests.lua
  data/scripts/creaturescripts/customs/freequests.lua
Labels: data

#392 Fix message "log out more than 10 minutes to start offline training"
  data/scripts/creaturescripts/others/offline_training.lua
Labels: data

#395 Fix message and min level for talk in "advertising" and "english chat"
  data/chatchannels/scripts/advertising.lua
  data/chatchannels/scripts/english_chat.lua
Labels: data

#378 Fix lion's rock quest "holy water fountain" and "fountain rewards"
  data/scripts/actions/quests/lions_rock/lions_rock.lua
Labels: data

#393 Register missing foods "goanna meat" and "candy floss"
  data/scripts/actions/other/food.lua
Labels: data

#401 Fix removing items from stash on apply imbuement
  src/creatures/players/player.cpp
Labels: source

#400 [Fix] Bestiary counter logic and update charm values
  data/scripts/modules/bestiary_charms.lua
  src/io/iobestiary.cpp
Labels: data, source
