Repository opentibiabr/otservbr-global, pull requests merged in 2022-02, with the labels that each got.

#407 Fix free quest logic
  config.lua.dist
  data/scripts/creaturescripts/customs/freequests.lua
  src/config/configmanager.cpp
  src/config/configmanager.h
  src/lua/scripts/luascript.cpp
Labels: data, source

#415 Fix stage storage from freeQuests
  data/scripts/creaturescripts/customs/freequests.lua
Labels: data

#420 NPC's - Fix lookTypesEx and ClientID.
  data/npclua/a_sleeping_dragon.lua
  data/npclua/a_strange_chalice.lua
  data/npclua/a_swan.lua
  data/npclua/alternative_rock.lua
  data/npclua/aurita.lua
  data/npclua/cobra.lua
  data/npclua/crowned_tree.lua
  data/npclua/denominator.lua
  data/npclua/eighty.lua
  data/npclua/frans.lua
  data/npclua/gelidrazahs_thirst.lua
  data/npclua/marina.lua
  data/npclua/maritima.lua
  data/npclua/mysterious_ornate_chest.lua
  data/npclua/oberon's_bile.lua
  data/npclua/oberon's_hate.lua
  data/npclua/oberon's_ire.lua
  data/npclua/oberon's_spite.lua
  data/npclua/old_rock_boy.lua
  data/npclua/omrabas.lua
  data/npclua/orockle.lua
  data/npclua/rock_in_a_hard_place.lua
  data/npclua/rock_steady.lua
  data/npclua/rock_with_a_soft_spot.lua
  data/npclua/scrutinon.lua
  data/npclua/the_oracle.lua
  data/npclua/yawno.lua
Labels: data

#425 Fix grimvale quest addEvent
  data/lib/quests/grimvale.lua
Labels: data

#427 Change flag from "pet" tag for "familiar", fix the bug where the summon doesn't enter pz
  data/monster/summons/druid_familiar.lua
  data/monster/summons/knight_familiar.lua
  data/monster/summons/paladin_familiar.lua
  data/monster/summons/sorcerer_familiar.lua
Labels: data

#428 Fix lower/upper case in the unscripted_equipments and unscripted_weapons
  data/scripts/movements/equipment/unscripted_equipments.lua
  data/scripts/weapons/unscripted_weapons.lua
Labels: data

#431 fix id magic_gold_converter
  data/scripts/actions/other/magic_gold_converter.lua
Labels: data

#434 add lion-shield unscripted_weapons.
  data/scripts/movements/equipment/unscripted_equipments.lua
Labels: data

#435 Fix lion shield on unscripted equipments table
  data/scripts/movements/equipment/unscripted_equipments.lua
Labels: data

#440 Convert ids from dawnport quest to client id and register items for knight
  data/scripts/actions/quests/dawnport/vocation_reward.lua
Labels: data

#437 Fix npc puffels npcHandler variable
  data/npclua/puffels.lua
Labels: data

#443 Fix script potions.lua effect and create flask inside container
  data/scripts/actions/other/potions.lua
Labels: data

#445 Fix npcs shop and reward chest attribute
  data/items/items.xml
  data/npclua/alaistar.lua
  data/npclua/asima.lua
  data/npclua/asnarus.lua
  data/npclua/chartan.lua
  data/npclua/chuckles.lua
  data/npclua/digger.lua
  data/npclua/dorbin.lua
  data/npclua/eddy.lua
  data/npclua/edvard.lua
  data/npclua/faloriel.lua
  data/npclua/feizuhl.lua
  data/npclua/frederik.lua
  data/npclua/ghorza.lua
  data/npclua/gnomegica.lua
  data/npclua/hireling.lua
  data/npclua/hyacinth.lua
  data/npclua/inkaef.lua
  data/npclua/iwar.lua
  data/npclua/janz.lua
  data/npclua/lily.lua
  data/npclua/maun.lua
  data/npclua/mehkesh.lua
  data/npclua/nelly.lua
  data/npclua/nicholas.lua
  data/npclua/nydala.lua
  data/npclua/peggy.lua
  data/npclua/rabaz.lua
  data/npclua/rachel.lua
  data/npclua/rock_in_a_hard_place.lua
  data/npclua/romir.lua
  data/npclua/sandra.lua
  data/npclua/shiantis.lua
  data/npclua/shiriel.lua
  data/npclua/siflind.lua
  data/npclua/sigurd.lua
  data/npclua/talila.lua
  data/npclua/tandros.lua
  data/npclua/tarun.lua
  data/npclua/topsy.lua
  data/npclua/ukea.lua
  data/npclua/valindara.lua
  data/npclua/xodet.lua
  data/npclua/yoem.lua
  data/scripts/lib/register_npc_type.lua
Labels: data

#454 Fix items ids and attributes
  data/items/items.xml
  data/scripts/actions/falcons/falcon_shield.lua
  data/scripts/actions/other/cup_cakes.lua
  data/scripts/actions/other/hirelinglamp.lua
  data/scripts/actions/quests/dangerous_depth/using_crystals.lua
  data/scripts/actions/quests/ferumbras_ascendant/mysterious_scroll.lua
Labels: data

#458 Remove benchmark details
  data/lib/core/storages.lua
Labels: Type: Enhancement, Review: Completed

#466 Added missing royal spear config to npcs: Brengus, Cedrik, Robert and…
  data/npclua/brengus.lua
  data/npclua/cedrik.lua
  data/npclua/robert.lua
  data/npclua/willard.lua
Labels: data

#467 Update NPCs Captain Max (Calassa), Grizzly Adams and Melfar
  data/npclua/captain_max_calassa.lua
  data/npclua/grizzly_adams.lua
  data/npclua/melfar.lua
Labels: data

#470 Added `corpseType` to some corpses
  data/items/items.xml
Labels: data
