Repository opentibiabr/otservbr-global, pull requests merged in 2022-05, with the labels that each got.

#579 Fix two-handed weapons
  data/items/items.xml
Labels: Area: Datapack

#574 Talkaction for set destination in a teleport
  data/scripts/talkactions/god/teleport_set_destination.lua
Labels: Area: Datapack

#577 Convert teleports IDs from forgotten knowledge quest
  data/scripts/movements/quests/forgotten_knowledge/entrance_teleport.lua
Labels: Type: Bug, Area: Datapack

#588 Fix daily reward itemId typo
  data/modules/scripts/daily_reward/daily_reward.lua
Labels: Area: Datapack

#585 Fix warning related to loot on distro and somes scripts lua logic
  data/scripts/movements/quests/dreamer_challenge/death_ring.lua
  data/scripts/movements/quests/dreamer_challenge/stone_teleport.lua
Labels: Area: Datapack

#571 Fix tile action code in Threatened Dreams Quest
  data/startup/tables/tile.lua
Labels: Area: Datapack

#575 Move door to normal door table
  data/lib/tables/door.lua
Labels: Area: Datapack

#578 Add missing outfits and mounts to talkactions
  data/scripts/talkactions/god/alladdons.lua
  data/scripts/talkactions/god/allmounts.lua
Labels: Area: Datapack

#593 Update diamond arrow formula
  data/scripts/weapons/scripts/diamond_arrow.lua
Labels: Area: Datapack

#596 Fix wrong decayID that could cause debug on client
  data/items/items.xml
Labels: Area: Datapack

#601 Fix magic wall and wild growth rune bug
  data/items/items.xml
  data/scripts/spells/runes/magic_wall.lua
  data/scripts/spells/runes/wild_growth.lua
Labels: Area: Datapack

#597 Fixed Donkey Tame
  data/scripts/actions/mounts/mounts.lua
Labels: Area: Datapack

#600 Fix unexpected behavior on moving item on quest cults of tibia
  data/events/events.xml
  data/events/scripts/player.lua
  data/scripts/lib/register_actions.lua
Labels: Type: Bug, Priority: Critical, Area: Datapack, Status: Pending Review, Status: Pending Test

#604 Fix Scarlett error on distro, Leiden mechanics and some corpses
  data/XML/imbuements.xml
  data/items/items.xml
  data/monster/humanoids/lost_exile.lua
  data/scripts/actions/other/fluids.lua
  data/scripts/actions/quests/pits_of_inferno/goshnar.lua
  data/scripts/actions/quests/pits_of_inferno/oil.lua
  data/scripts/creaturescripts/quests/cults_of_tibia/evaporate.lua
  data/scripts/creaturescripts/quests/grave_danger/cobra_bastion/scarlett.lua
  data/scripts/quests/the_queen_of_the_banshees/movement-4-fourth_seal_flame.lua
  data/scripts/quests/the_queen_of_the_banshees/movement-4-fourth_seal_sacrifice.lua
  data/scripts/spells/runes/convince_creature.lua
Labels: Type: Bug, Area: Datapack

#605 Fixed questlog tracker to best follow missions with counters
  data/lib/core/quests.lua
Labels: Area: Datapack

#471 Fix Event Scheduler
  config.lua.dist
  data/XML/events.xml
  data/events/scripts/player.lua
  data/global.lua
  data/lib/compat/compat.lua
  data/lib/core/functions.lua
  data/modules/scripts/daily_reward/daily_reward.lua
  data/scripts/creaturescripts/others/advance_save.lua
  data/scripts/creaturescripts/others/login.lua
  data/scripts/globalevents/others/startup.lua
  data/scripts/talkactions/player/server_info.lua
Labels: Area: Datapack, Status: Pending Review, Stale, Status: Pending Test

#610 Fixing summon searching player target and icons update
  data/lib/compat/compat.lua
  data/lib/core/creature.lua
  data/monster/quests/the_order_of_lion/lion_commander.lua
  data/monster/quests/the_order_of_lion/usurper_commander.lua
  data/scripts/creaturescripts/quests/ferumbras_ascendant/zamulosh_clone.lua
  data/scripts/spells/runes/animate_dead_rune.lua
  data/scripts/spells/runes/convince_creature.lua
Labels: Area: Datapack

#602 Fix script logic of cults of tibia quest (The Sinister Hermit)
  data/scripts/movements/quests/cults_of_tibia/geyser.lua
Labels: Area: Datapack
